-# css
= stylesheet_link_tag('reset', :media => 'screen')
= stylesheet_link_tag('text', :media => 'screen')
= stylesheet_link_tag('960_24_col', :media => 'screen')
= stylesheet_link_tag('mechyard', :media => 'screen')
